@import "tailwindcss";

@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components {
}
@layer utilities {
  .scribble {
    font-family: "Anton", sans-serif;
  }

  .handwriting {
    font-family: "Nothing You Could Do", cursive;
  }
}
